.highlight {
    @include do-space(margin-top, lg); 
    @include do-space(margin-bottom, lg); 
	
	background-color: $underlay-grey;
    //background-color: $primary-bg-subtle;
	
	padding: 1rem;
}

@include color-mode(dark) {
    .highlight {
        background-color:  $underlay-grey-dark;
    }
}


.hljs-string {
	color: $red;
}

pre {
    margin: 0;
}