.highlight {
    @include do-space(margin-top, lg); 
    @include do-space(margin-bottom, lg); 
	
	background-color: var(--bs-primary-bg-subtle);
    //background-color: $primary-bg-subtle;
	
	padding: 1rem;
}

.hljs-string {
	color: $accent-color;
}

pre {
    margin: 0;
}

@include color-mode(dark) {
    .hljs-string {
        color: $accent-color-dark;
    }
}