.highlight {
    @include do-space(margin-top, lg); 
    @include do-space(margin-bottom, lg); 
	
	background-color: var(--bs-primary-bg-subtle);
    //background-color: $primary-bg-subtle;
	
	padding: 1rem;
}

.hljs-string {
	color: $red;
}

pre {
    margin: 0;
}