
.swatch {
    display: flex;
    align-items: top;
    
    @include do-space(margin-bottom, md); 
    
    .colour {
        flex-shrink: 0; 
        width: 5rem;
        height: 5rem;
        border-radius: 2.5rem;
        margin-right: 1rem;
    }
    
    h5 {
        margin-top: 0;
        margin-bottom: 0.25rem;
    }
    
    p { margin: 0; }
}

.colour-bg-sm {
	display: inline-block;
	width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.75rem;
    margin-right: 0.25rem;
}

.colour-bg {
	&-dark-grey { background-color: $dark-grey; }
    &-interface-grey { background-color: $interface-grey; }
    &-underlay-selected { background-color: $underlay-selected; }
    &-underlay-grey { background-color: $underlay-grey;
	border: 1px solid $interface-grey; }
    
    &-rmit-blue { background-color: $rmit-blue; }
    &-blue-hover { background-color: $blue-hover; }
    
    &-rmit-red { background-color: $rmit-red; }
    &-correct-green { background-color: $correct-green; }  
	
    &-white { 
        background-color: $white;
        border: 1px solid $interface-grey;
    }   
}

.colour {
	&-dark-grey { color: $dark-grey; }
    &-interface-grey { color: $interface-grey; }
    &-underlay-selected { color: $underlay-selected; }
    &-underlay-grey { color: $underlay-grey; }
    
    &-rmit-blue { color: $rmit-blue; }
    
    &-rmit-red { color: $rmit-red; }
    &-correct-green { color: $correct-green; }
}

//$dark-grey: #333;               //primary text colour
//$text-alt: #525252;             //Not in use - due to Triple AAA accessibility requirement?
//$interface-grey: #BFBFBF;
//$underlay-selected: #E6E6E6;    //use sparingly
//$underlay-grey: #f5f5f5;
//
//$rmit-blue: #000054;
//$blue-70: #4D4D88;
//$blue-hover: #0F2699;
//$rmit-red: #E61E2A;
//$correct-green: #009969;