<!doctype html>
<html class="nav-fixed">
<head>
    {{ partial "meta.html" . }}
</head>
<body>
{{ partial "top-nav.html" }}
<div id="page-content">
    <div class="container main-content">
        <div class="row ">
			<!-- START right nav -->
            <div class="col-xl-4 order-last">
                {{ partial "right-nav" . }}
            </div>
            <!-- END right nav -->
            <!-- START content -->
            <div class="col-xl-8 order-first">
                {{ block "main" . }}
                {{ end }}
                {{ partial "prev-next" . }}
            </div>
            <!-- END content -->   
        </div>
    </div>
    {{ partial "footer.html" . }}
</div>
{{ partial "script.html" . }}
</body>
</html>