<!-- Start theme switcher -->
<form class="theme-switch theme-compact theme-right-nav">
    <fieldset>
        <legend>Theme</legend>
        <div class="bg">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="themeOptions" data-bs-theme-value="auto" aria-label="System" id="theme-system-side">
                <label for="theme-system-side" class="form-check-label">System</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="themeOptions" data-bs-theme-value="light" aria-label="Light" id="theme-light-side">
                <label for="theme-light-side" class="form-check-label">Light</label>
            </div> 
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="themeOptions" data-bs-theme-value="dark" aria-label="Dark" id="theme-dark-side">
                <label for="theme-dark-side" class="form-check-label">Dark</label>
            </div>
        </div>
    </fieldset>
</form>
<!-- End theme switcher -->