    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ if isset .Params "title" }}
        <title>{{ .Params.title }}</title>
    {{ else }}
        <title>{{ "Blergh" }}</title>
    {{ end }}
    {{ $style := resources.Get "sass/main.scss" | resources.ToCSS | resources.Minify }}
	<link rel="stylesheet" href="{{ $style.RelPermalink }}">
 
<!-- highlight markup -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/html.min.js"></script> 

