{{ $pageName := .Params.name }}
{{ $pageParent := .Params.parent  }}
{{ if ne .Params.hide_buttons true }}
<nav class="right-nav-accordion">
{{ range .Site.Menus.main.ByWeight }}
    <!-- START accordion -->
        {{ if .HasChildren }}
        {{ $showContent := "hide" }}
        {{ $buttonState := "collapsed" }}
        {{ if eq $pageParent .Name }}
            {{ $showContent = "show" }}
            {{ $buttonState = "" }}
        {{ end }}
    <div class="accordion-item nav-accordion">
        <h2 class="accordion-header" id="nav-accord-head-{{ replaceRE "(\\s)" "" .Name }}">
            <button class="accordion-button {{ $buttonState }}" type="button" data-bs-toggle="collapse" data-bs-target="#nav-accord-body-{{ replaceRE "(\\s)" "" .Name }}" aria-expanded="false" aria-controls="nav-accord-body-{{ replaceRE "(\\s)" "" .Name }}">
            {{ .Name }}
            </button>
        </h2>
        <div id="nav-accord-body-{{ replaceRE "(\\s)" "" .Name }}" class="accordion-collapse collapse {{ $showContent }}" aria-labelledby="nav-accord-head-{{ replaceRE "(\\s)" "" .Name }}">
            <div class="accordion-body">
                <ul>
                    {{ range .Children }}
                        {{ if eq $pageName .Name }}
                            <li class="selected">{{ .Name }}</li>
                        {{ else }}
                        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                        {{ end }}
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
    {{ end }}
    <!-- END accordion -->
{{ end }}
</nav>
{{ else }}
	{{if eq $pageName "Anatomy of a page" }}
<nav class="right-nav" aria-label="Section Menu">
    <h2><a href="">Section</a></h2>
    <h3><a href="">Subsection</a></h3>
    <ul>
        <li>
            <a href="">Content page</a>
            <ul>
                <li class="selected">Content subpage</li>
                <li><a href="">Content subpage</a></li>
                <li><a href="https://www.theguardian.com/au">Content subpage</a></li>
            </ul>
        </li>
        <li><a href="">Content page</a></li>
        <li><a href="">Content page</a></li>
        <li><a href="">Content page</a></li>
        <li><a href="">Content page</a></li>
    </ul>
</nav>
	{{ end }}
{{ end}}