{{ $pageName := .Params.name }}
{{ $parent := .Params.parent  }}
{{ $expandIntro := "hide" }}
{{ $expandVisual := "hide" }}
{{ $expandComponents := "hide" }}
{{ $expandExamples := "hide" }}
{{ if eq .Params.parent "visual" }}
    {{ $expandVisual = "show" }}
{{ else if eq .Params.parent "intro" }}
    {{ $expandIntro = "show" }}
{{ end }}
<nav>
    <!-- <h4><a href="blergh.html">Section title</a></h4>-->
    <!-- START accordion -->
    <div class="accordion-item nav-accordion">
        <h5 class="accordion-header" id="nav-accord-intro-head">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#nav-accord-intro-body" aria-expanded="false" aria-controls="nav-accord-intro-body">
            Introduction
            </button>
        </h5>
        <div id="nav-accord-intro-body" class="accordion-collapse collapse {{ $expandIntro }}" aria-labelledby="nav-accord-intro-head">
            <div class="accordion-body">
                <ul>
                    {{ range .Site.Menus.visual }}
                        {{ if eq $pageName .Name }}
                            <li class="selected">{{ .Name }}</li>
                        {{ else }}
                        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                        {{ end }}
                    {{ end }}
                </ul>
        </div>
    </div>
    <!-- END accordion -->
    <!-- START accordion -->
    <div class="accordion-item nav-accordion">
        <h5 class="accordion-header" id="nav-accord-vis-lang-head">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#nav-accord-vis-lang-body" aria-expanded="false" aria-controls="nav-accord-vis-lang-body">
            Visual language
            </button>
        </h5>
        <div id="nav-accord-vis-lang-body" class="accordion-collapse collapse {{ $expandVisual }}" aria-labelledby="nav-accord-vis-lang-head">
            <div class="accordion-body">
                <ul>
                    {{ range .Site.Menus.intro }}
                        {{ if eq $pageName .Name }}
                            <li class="selected">{{ .Name }}</li>
                        {{ else }}
                        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                        {{ end }}
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
    <!-- END accordion -->
    <!-- START accordion -->
    <div class="accordion-item nav-accordion">
        <h5 class="accordion-header" id="nav-accord-components-head">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#nav-accord-components-body" aria-expanded="false" aria-controls="nav-accord-components-body">
            Components
            </button>
        </h5>
        <div id="nav-accord-components-body" class="accordion-collapse collapse {{ $expandComponents }}" aria-labelledby="nav-accord-components-head">
            <div class="accordion-body">
                <ul>
                    <li><a href="/components/sandbox/">Accordions</a></li>
                    <li><a href="/components//">Blockquotes</a></li>
                    <li><a href="/components//">Breadcrumbs</a></li>
                    <li><a href="/components//">Buttons</a></li>
                    <li><a href="/components//">Footer</a></li>
                    <li><a href="/components//">H5P interactives</a></li>
                    <li><a href="/components//">Images and video</a></li>
                    <li><a href="/components//">Navigation</a></li>
                    <li><a href="/components//">Tables</a></li>
                    <li><a href="/components//">Top Navigation</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- END accordion -->
    <!-- START accordion -->
    <div class="accordion-item nav-accordion">
        <h5 class="accordion-header" id="nav-accord-example-head">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#nav-accord-example-body" aria-expanded="false" aria-controls="nav-accord-example-body">
            Example pages
            </button>
        </h5>
        <div id="nav-accord-example-body" class="accordion-collapse collapse {{ $expandExamples }}" aria-labelledby="nav-accord-example-head">
            <div class="accordion-body">
                <ul>
                    <li><a href="/example//">Anatomy of a page</a></li>
                    <li><a href="/example//">Example 2</a></li>
                    <li><a href="/example//">Example 3</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- END accordion -->
    </div>
</nav>
    
<!-- <div class="accordion-body">
                <ul>
                    <li><a href="/components/sandbox/">Accordions</a></li>
                    <li><a href="/components//">Blockquotes</a></li>
                    <li><a href="/components//">Breadcrumbs</a></li>
                    <li><a href="/components//">Buttons</a></li>
                    <li><a href="/components//">Footer</a></li>
                    <li><a href="/components//">H5P interactives</a></li>
                    <li><a href="/components//">Images and video</a></li>
                    <li><a href="/components//">Navigation</a></li>
                    <li><a href="/components//">Tables</a></li>
                    <li><a href="/components//">Top Navigation</a></li>
                </ul>
            </div> -->