<script>

//If true, menu covers content
//If false, menu pushes content down
var menuCover = true;   
    
/* Grab both the menu button and the page content */
var menuButton = document.getElementById("menu-button");
var pageContent = document.getElementById("page-content"); 
  
/* Store display status of menu */
var menuDisplay = false;

/* Listen for click */
if(menuCover) menuButton.addEventListener("click", showHideMenu);

/*
If menu is hidden, bootstrap wll show it, hide page content.
If it's displayed, bottstrap will hide it, show the content.
*/

function showHideMenu() {
    if(menuDisplay == false)
    {
        menuDisplay = true;
        pageContent.style.display = "none";        
    }
    else
    {
        menuDisplay = false;
        pageContent.style.display = "block"; 
       
    }
}

</script>