<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.min.js"></script>
<script>
//If true, menu covers content
//If false, menu pushes content down
var menuCover = true;   
    
/* Grab both the menu button and the page content */
var menuButton = document.getElementById("menu-button");
var pageContent = document.getElementById("page-content");
    
/* Store content scroll position */
var scrollPosition;
  
/* Store display status of menu */
var menuDisplay = false;

/* Listen for click */
if(menuCover) menuButton.addEventListener("click", showHideMenu);

/*
If menu is hidden, bootstrap wll show it, hide page content.
If it's displayed, bottstrap will hide it, show the content.
*/

function showHideMenu() {
    if(menuDisplay == false)
    {
        menuDisplay = true;
        scrollPosition = window.scrollY;    
        pageContent.style.display = "none"; 
    }
    else
    {
        menuDisplay = false;
        pageContent.style.display = "block";
        
        /* Change scroll behaviour, jump to where the user had scrolled to on the page, then revert to smooth scrolling again. */
        document.documentElement.style.scrollBehavior = "auto";
        window.scroll(0, scrollPosition);
        document.documentElement.style.scrollBehavior = "smooth";
    }
}

</script>