<header>
	<a href="#main-content" class="visually-hidden-focusable">Skip to main content</a>
	<div class="top-navigation">
		<!-- START container -->
		<div class="container">
			<div class="row">
				<!-- START left hand column -->
				<div class="col-auto left-nav">
					<div class="rmit-logo"><span class="visually-hidden">RMIT University logo</span></div>
                    <h2>
                    <!-- Explicitly turn off one bit of text and turn on the other to deal with JAWS bug - https://github.com/alphagov/govuk-frontend/issues/1643 -->
                    <a href="/design-system/">
                        <span aria-hidden="true">Design system</span>
                        <span class="visually-hidden">Design system homepage</span>
                    </a>
                </h2>  
				</div>
				<!-- END left hand column -->
				<!-- START right hand column -->
				<div class="col">
					<!--<ul>
						<li><a href="https://www.rmit.edu.au/library">Link 1</a></li>
						<li><a href="https://www.rmit.edu.au/library">Link 2</a></li>
						<li><a href="https://www.rmit.edu.au/library">Link 3</a></li>
					</ul>-->
					<ul>
						<li class="hide-sm">
							<a href="https://www.rmit.edu.au/library">Library</a>
						</li>
						<li class="search">
							<a id="search2">
								<div class="search-label">Search</div>
								<div class="mag-glass"></div>
							</a>
						</li>
                        <li class="search">
							<a id="search3">
								<div class="mag-glass"></div>
							</a>
						</li>
						<li class="menu">
							<button id="menu-button" 
							class="btn btn-primary collapsed" type="button" data-bs-toggle="collapse" 
							data-bs-target="#context-menu" data-bs-display="static" aria-expanded="false" 
							aria-controls="context-menu">Click for main menu</button>
						</li>
					</ul> 
				</div>
				<!-- END right hand column -->
			</div>
		</div>
		<!-- END container -->
	</div>
	<!-- START submenu desktop only -->
	<!--<div id="sub-menu">    
		<div class="container">
			<nav aria-label="Main Menu">
				<ul>
					<li><a href="">AGLC4</a></li>
					<li><a href="">APA 7<sup>th</sup> edition</a></li>
					<li class="selected">Chicago A</li>
					<li><a href="">Chicago B</a></li>
					<li><a href="">IEEE</a></li>
					<li><a href="">RMIT Harvard</a></li>
					<li><a href="">Vancouver</a></li>
				</ul>
			</nav>	
		</div>		
	</div>-->
	<!-- END submenu desktop only -->

	<nav id="context-menu" class="collapse" aria-label="Main Menu">
		<!-- START container -->
		<div class="container nav-container">
			<div class="row">
				<!-- START column -->
				<div class="col">  
					<ul class="link-list-white">
						<li><a href="/design-system/">Introduction</a></li>
						<li><a href="/design-system/visual/breakpoints/">Visual language</a></li>
						<li><a href="/design-system/components-simple/accordions/">Simple components</a></li>
						<li><a href="/design-system/components-complex/footer/">Complex components</a></li>
						<li><a href="/design-system/examples/example-1">Examples</a></li>
					</ul>
					
					<!-- Start theme switcher -->
					<div id="theme-switcher">
						<h2 class="h5">Theme</h2>
						<div class="theme-bg">
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" data-bs-theme-value="auto" value="option1">
								<label class="form-check-label" for="inlineRadio1">System</label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" data-bs-theme-value="light" value="option2">
								<label class="form-check-label" for="inlineRadio2">Light</label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" data-bs-theme-value="dark" value="option3">
								<label class="form-check-label" for="inlineRadio3">Dark</label>
							</div>
						</div>
					</div>
					<!-- End theme switcher -->
				</div>
				<!-- END column -->
			</div>
		</div>
		<!-- END container -->
	</nav>
	
	
</header>
