<div class="top-nav">
    <div class="container">
        <div class="row">
            <div class="col-auto">
                <div class="top-nav-left">
                    <div class="rmit-logo"></div>
                    <h4><a href="/dewey-design/">Dewey Design System</a></h4>
                </div> 
            </div>
            <div class="col">       
                <ul>
					<li class="menu"><button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#nav-menu" aria-expanded="false" aria-controls="nav-menu">Menu</button></li>
                </ul>
            </div>   
        </div>
    </div>
</div>
<div id="nav-menu" class="collapse">

    <div class="container nav-container">
        <div class="row ">
            <!-- START menu -->
            <div class="col-xl-8">
                <!-- START Accordions -->
                <div class="accordion accordion-white" id="accordionExample2">
                <!-- START Item One -->
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="whiteHeadingOne">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#whiteCollapseOne" aria-expanded="false" aria-controls="whiteCollapseOne">
                        University essentials
                      </button>
                    </h2>
                    <div id="whiteCollapseOne" class="accordion-collapse collapse" aria-labelledby="whiteHeadingOne">
                      <div class="accordion-body">
                        This is the first item's accordion body. Any HTML can go within the <code>.accordion-body</code>. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas purus ipsum, semper sit amet sollicitudin sit amet, interdum et nisi. Morbi in ullamcorper nisi. Fusce eget magna vitae lacus eleifend malesuada vel eu metus. Integer eget pellentesque magna, sit amet dignissim leo. Suspendisse potenti. Cras nec eros convallis, pretium ipsum eu, luctus magna.
                      </div>
                    </div>
                  </div>
                <!-- END Item One -->
                <!-- START Item Two -->
                <div class="accordion-item">
                <h2 class="accordion-header" id="whiteHeadingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#whiteCollapseTwo" aria-expanded="false" aria-controls="whiteCollapseTwo">
                    Writing Fundamentals
                  </button>
                </h2>
                <div id="whiteCollapseTwo" class="accordion-collapse collapse" aria-labelledby="whiteHeadingTwo">
                  <div class="accordion-body">
                    <!-- START content --> 
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <ul>
                                    <li><a href="">Academic style</a></li>
                                    <li><a href="">Academic word lists</a></li>
                                    <li><a href="">Paragraph Structure</a></li>
                                    <li><a href="">Spelling tips</a></li>
                                    <li><a href="">Understanding your audience</a></li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <ul>
                                    <li><a href="">Writing sentences</a></li>
                                    <li><a href="">Writing for coursework</a></li>
                                    <li><a href="">Writing for the workplace</a></li>
                                    <li><a href="">Writing paragraphs</a></li>
                                </ul>              
                            </div>  
                        </div>
                    </div>
                    <!-- END content -->
                </div>  
                </div>
                </div>
                <!-- END Item Two -->
                <!-- START Item Three -->
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="whiteHeadingThree">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#whiteCollapseThree" aria-expanded="false" aria-controls="whiteCollapseThree">
                        Assignments
                      </button>
                    </h2>
                    <div id="whiteCollapseThree" class="accordion-collapse collapse" aria-labelledby="whiteHeadingThree">
                      <div class="accordion-body">
                        This is the third item's accordion body. Any HTML can go within the <code>.accordion-body</code>. Nulla lacinia, lacus egestas egestas varius, eros tortor varius sem, sit amet blandit nunc enim ut nisi. Praesent non nulla neque. Vivamus non erat mattis turpis ultricies efficitur.
                      </div>
                    </div>
                  </div>
                <!-- END Item Three -->
                <!-- START Item Four -->
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="whiteHeadingFour">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#whiteCollapseFour" aria-expanded="false" aria-controls="whiteCollapseFour">
                        Referencing
                      </button>
                    </h2>
                    <div id="whiteCollapseFour" class="accordion-collapse collapse" aria-labelledby="whiteHeadingFour">
                      <div class="accordion-body">
                        This is the first item's accordion body. Any HTML can go within the <code>.accordion-body</code>. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas purus ipsum, semper sit amet sollicitudin sit amet, interdum et nisi. Morbi in ullamcorper nisi. Fusce eget magna vitae lacus eleifend malesuada vel eu metus. Integer eget pellentesque magna, sit amet dignissim leo. Suspendisse potenti. Cras nec eros convallis, pretium ipsum eu, luctus magna.
                      </div>
                    </div>
                  </div>
                <!-- END Item Four -->
                <!-- START Item Five -->
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="whiteHeadingFive">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#whiteCollapseFive" aria-expanded="false" aria-controls="whiteCollapseFive">
                        Subject support
                      </button>
                    </h2>
                    <div id="whiteCollapseFive" class="accordion-collapse collapse" aria-labelledby="whiteHeadingFive">
                        <div class="accordion-body">
                            <!-- START content --> 
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-4">
                                        <ul>
                                            <li><a href="">Academic style</a></li>
                                            <li><a href="">Academic word lists</a></li>
                                            <li><a href="">Paragraph Structure</a></li>
                                            <li><a href="">Spelling tips</a></li>
                                            <li><a href="">Understanding your audience</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4">
                                        <ul>
                                            <li><a href=""></a></li>
                                            <li><a href=""></a></li>
                                            <li><a href=""></a></li>
                                            <li><a href=""></a></li>
                                            <li><a href=""></a></li>
                                        </ul> 
                                    </div>  
                                </div>
                            </div>
                            <!-- END content -->
                        </div>
                      </div>
                    </div>
                  </div>
                <!-- END Item Five -->
                </div>
                <!-- END Accordions -->
            </div>
            <!-- END menu -->
        </div>
    </div>
</div>