.btn-primary {
    position: relative;
    
    @include type-default;
    
    margin-right: 1rem;
    padding: 0.5rem 1rem;
}

.btn-primary:hover {
    background-color: $blue-hover;
}

.btn-outline-secondary, button {
    position: relative;
    color: $rmit-blue;
    background-color: $white;
    
    border-style: solid;
    border-width: 1px;
    border-color: $rmit-blue;
    border-radius: 0.25rem;
    
    box-sizing: border-box;
    
    @include type-default;
    
    margin-right: 1rem;
    padding: 7px 1rem;
}


.btn-outline-secondary:hover, button:hover {
    color: $blue-hover;
    background-color: $underlay-grey;
    border-color: $rmit-blue;
}


.btn-nav-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    @include do-space(margin-top, xl);
    
    @include media-breakpoint-down(xl) {
        @include do-space(padding-bottom, lg);
        border-bottom: solid 1px $interface-grey;
    }
}

.btn-nav-prev, .btn-nav-next  {
    @extend .btn-outline-secondary;
    @include type-lead;
    
    display: flex;
    align-items: center;
    
    border-radius: 0.5rem;
    margin: 0;
    padding: 1rem 3rem 1rem 1.5rem;
    
    width: 100%;
    text-align: left;
    
    @include media-breakpoint-up(md) {
        width: 306px;
    }
}

.btn-nav-prev {
    padding: 1rem 1.5rem 1rem 3rem;
    display: none;  //hide prev button on mobile for space reasons
    
   @include media-breakpoint-up(md) {
       display: flex;
    }
}

.btn-nav-prev::before, .btn-nav-next::after { 
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' fill='%23E61E2A'%3e%3cpath fill-rule='evenodd' d='M9.33329 11C9.7065 11 10.0765 11.1557 10.3399 11.4585L16.0063 17.9844L21.661 11.4713C22.144 10.9158 22.9864 10.8561 23.5409 11.3391C24.0965 11.8221 24.1562 12.6635 23.6742 13.219L17.0129 20.8912C16.5075 21.4745 15.5062 21.4755 14.9997 20.8912L8.32668 13.2073C7.84364 12.6517 7.90335 11.8093 8.45891 11.3274C8.71162 11.1077 9.02299 11 9.33329 11Z'/%3e%3c/svg%3e");
    position: absolute;
    width: 2rem;
    height: 2rem;
    top: 0;
    right: 0.5rem;
    bottom: 0;
    margin: auto 0;
    
    transform: rotate(-90deg);
}

.btn-nav-prev::before {
    right: auto;
    left: 0.5rem;
    
    transform: rotate(90deg);
}

.link-large {
    display: block;
    @include type-lead;
    text-decoration: none;
    margin-top: 1.25rem;
}


.link-large::after {
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' fill='%23E61E2A'%3e%3cpath fill-rule='evenodd' d='M9.33329 11C9.7065 11 10.0765 11.1557 10.3399 11.4585L16.0063 17.9844L21.661 11.4713C22.144 10.9158 22.9864 10.8561 23.5409 11.3391C24.0965 11.8221 24.1562 12.6635 23.6742 13.219L17.0129 20.8912C16.5075 21.4745 15.5062 21.4755 14.9997 20.8912L8.32668 13.2073C7.84364 12.6517 7.90335 11.8093 8.45891 11.3274C8.71162 11.1077 9.02299 11 9.33329 11Z'/%3e%3c/svg%3e");
    position: absolute;
    width: 2rem;
    height: 2rem;
    marign-left: 0.75rem;
    transform: rotate(-90deg);
}

